/* 
***********************************************************************
                 Main SideBar
***********************************************************************
*/
.main-sidebar {color: black;
               background-color: #ffffff;}

[class*="sidebar-light-"] .sidebar a {color: black;}

/*top active nav link*/
/* This controls the top level of the nav sidebar */
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link:hover {background-color: #e5e5e5;
                                                                  color: black;} 


.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {background-color: #007bff;
                                                                    color: #FFFFFF;
                                                                    border-left: 5px solid #007bff;} 

/* second level of sidebar */
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-light-"] 
.nav-treeview > .nav-item > .nav-link.active:hover {background-color: #e5e5e5;
                                                    color: black;}

/* Color of hovering over tabs that are not active */
.nav-pills .nav-link:not(.active):hover {color: #007bff;}

/* 
***********************************************************************
        Top Navigation Bar
***********************************************************************
*/
.main-header {background-color:white;}

/* Logo Image */ 
.brand-link .brand-image {background-color:white;}

/* Title box in top left corner */ 
.brand-link {background-color: white;}

/*Title text*/
.brand-text {color: black; 
             }

/* Navbar left most and right most icon */
.navbar-light .navbar-nav .nav-link {color: black;}


/* 
***********************************************************************
                Boxes
***********************************************************************
*/
/*.card card-primary {background: white;}*/

/* Top of Box */
.card-header {background: white;
              color: black;}

/* Body of box */
.card-body {background:white;
            color: black;}

/* 
***********************************************************************
                     Text Inputs
***********************************************************************
*/

/* Text input colors */
.form-control {background: white;
               border-color: #ced4da;
               color: black;}

/* Text input colors when selected */
.form-control:focus {background: white;
               border-color: #ced4da;
               color: black;}

/* 
***********************************************************************
                     Buttons
***********************************************************************
*/

.btn {background-color:#f8f9fa;
      color: black;
      border-color: #ced4da;
}

.btn-dropdownbutton {background-color: #f8f9fa !important;
                     color: #a0adab;
                     /*border-width:0px !important;*/}

/* Border around small buttons - specifically box option buttons */
.btn.btn-tool.btn-sm {border: 1px;}

/* 
***********************************************************************
                   Radio Buttons
***********************************************************************
*/

.btn-group {
      border-color: white;
}

.btn.radiobtn.btn-default.active {background-color: #e5e5e5;}

/* 
***********************************************************************
                   Picker Inputs
***********************************************************************
*/

/* Main Picker Box*/
.btn.dropdown-toggle.btn-light {background-color:  #FFFFFF;
                                border-color: #ced4da;
                                color: black;}

/* Inside picker box, square where words are*/
.filter-option {background-color: white;
                color: black;}

/* box of dropdown of picker*/
.dropdown-menu.show {background-color: white;
                     color: black;}

/* Dropdown menu in picker showing choices*/
.dropdown-menu.inner.show {background-color: white;
                           color: black;}

/*Picker dropdown menu items*/
.dropdown-item {background-color: white;
                color: black !important;}

/*Picker dropdown menu selected item*/
.dropdown-item.active.selected {background-color: #007bff;
                                color: white !important;}

/*Picker dropdown hovered over menu item*/
.dropdown-item:hover {background-color: #c5c6c6;
                      color: white;}

/* 
***********************************************************************
                   Tabbox
***********************************************************************
*/                

/* Tabs of tab box*/
.nav-pills .nav-link {color: #6c757e;}

/* ? */
/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color: orange;
                                                           color:  red}*/

/* Selected tab of tab box*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover{background-color: #007bff;
                                                                color: white;}

/* 
***********************************************************************
                   Main Page Background
***********************************************************************
*/

.content-wrapper {background-color: #f4f6f9;}

/* 
***********************************************************************
                   Custom Variables
***********************************************************************
*/

#lineplot_dropdown_1 {
      border:0px solid black;
}

#lineplot_dropdown_2 {
      border:0px solid black;
}

#lineplot_dropdown_3 {
      border:0px solid black;
}

#lineplot_dropdown_4 {
      border:0px solid black;
}


#myVariables_DT tr {
      background-color: #fff0;
      border: 0px solid black;
}

#myVariables_DT th {
      background-color:#fff0;
      color: black;
      border: 0px solid black;
}

#createVar_add_compartment_button {
      background: #F9F9F9;
      color: grey;
}

#createVar_remove_compartment_button {
      background: #F9F9F9;
      color: grey;
}
                                      
#createVar_add_variable_button {
      background: #F9F9F9;
      color: grey;
}

#createVar_remove_variable_button {
      background: #F9F9F9;
      color: grey;
}
                                    
#createVar_add_variable_to_all_button {
      background: #F9F9F9;
      color: grey;
}

/*
#eqns_add_open_modal {
      background: #F9F9F9;
      color: grey ;
}
                                                      
#eqns_delete_open_modal {
      background: #F9F9F9;
      color: grey
}

                                
#io_add_open_modal {
      background: #F9F9F9;
      color: grey;
}
                                                              
#io_delete_open_modal {
      background: #F9F9F9;
      color: grey
}
*/

/* 
***********************************************************************
                   Tables that are UI inputs
***********************************************************************

.PE_variable_UI_table label {display: table-cell; 
                             text-align: center;
                             vertical-align: top; } 

.PE_variable_UI_table .form-group {display: table-cell;} 
*/
.blank_row {
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

.PE_variable_UI_table {
      border-collapse: collapse;
      border-spacing: 0;
}
